/* feed entry styling */

.site-page {
    margin-top: 0;
    margin-right: 0;
}

.feed-div {
    width: calc(100vw - 300px);
    background-color: rgb(255, 255, 255);
    position: relative;
    display: block;
    float: right;
}
 
.post-create-div {
    width: calc(100vw - 300px);
    height: 100px;
    position: fixed;
    float: right;
    background-color: rgb(255, 255, 255);
}

.create-post {
    height: 75px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    width: 40%;
}

.post-create-div a:hover {
    color: red;
}

#new-entry-button {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: relative;
    padding: 10px;
    margin-left: 147.26px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#new-entry-button:hover {
    background-color: rgb(99, 99, 99);
    color: white;
    transition: 0.4s;
}