/* Settings modal styling */

.settings-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 0;
  }

  .settings-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
  }

  .settings-dialog {
    width: auto;
    max-width: 500px;
    min-width: 500px;
    min-height: 518px;
    margin: 70px auto;
    background-color: #fff;
    border-radius: 15px;
  }

  .settings-header {
    position: relative;
    padding: 10px 20px;
    padding-bottom: 10px;
    border-bottom: 3.5px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgb(67, 67, 67);
    color: white;
    font-family: 'Inter', sans-serif;
  }

  .settings-header h3 {
    margin: 0;
    font-size: 28px;
    display: inline-block;
  }

  .settings-exit-button {
      position: absolute;
      right: 20px;
      top: 5px;
      font-size: 24px;
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      color: white;
      font-family: 'Inter', sans-serif;
      float: right;
      margin-top: 10px;
      margin-right: 5px;
  }

  .settings-exit-button:hover {
    color: red;
  }