html {
    overflow-y: overlay;
}

/* sidebar styling */

.title h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(11, 11, 11);
}

.sidebar li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-left: 3.5px solid rgb(255, 255, 255);
    padding-left: 5px;
}

.sidebar a:hover {
    color: rgb(255, 193, 193);
}

.line {
    width: 100%;
    height: 150px;
    border-bottom: 600px solid rgb(130, 130, 130);
    position: absolute;
    transform: skewY(25deg);
}

.line2 {
    width: 100%;
    height: 275px;
    border-bottom: 600px solid rgb(91, 91, 91);
    position: absolute;
    transform: skewY(10deg);
}

/* feed entry styling */

.site-page {
    margin-top: 0;
    margin-right: 0;
}

.feed-div {
    width: calc(100vw - 300px);
    background-color: rgb(255, 255, 255);
    position: relative;
    display: block;
    float: right;
}
 
.post-create-div {
    width: calc(100vw - 300px);
    height: 100px;
    position: fixed;
    float: right;
    background-color: rgb(255, 255, 255);
}

.create-post {
    height: 75px;
    background-color: rgb(255, 193, 193);
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    width: 40%;
    border: 3.5px solid rgb(0, 0, 0);
    border-radius: 25px;
}

.post-create-div a:hover {
    color: red;
}

.create-post a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 35%;
}

/* blog feed styling */

.blog-feed {
    margin-top: 130px;
    margin-left: 48px;
    margin-right: 58px;
}

.blog-entry {
    border: 3.5px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* blog entry styling */

.date-time {
    float: right;
    margin-top: 5px;
}

.entry-info {
    padding: 0;
    border-bottom: 3.5px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(180, 180, 180);
}

.entry-info ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}

.entry-info li {
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 0);
    list-style-type: none;
    display: inline-block;
    padding-right: 25px;
    top: 0;
}

.entry-content {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* modal styling */

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#create-entry-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
}

.hidden {
    
}

.modal-dialog {
    width: auto;
    max-width: 1000px;
    min-width: 600px;
    min-height: 518px;
    margin: 70px auto;
    background-color: #fff;
    border-radius: 15px;
  }

  .modal-header {
    position: relative;
    padding: 10px 20px;
    padding-bottom: 10px;
    border-bottom: 3.5px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgb(67, 67, 67);
    color: white;
    font-family: 'Inter', sans-serif;
  }

  .modal-header h3 {
    margin: 0;
    font-size: 28px;
    display: inline-block;
  }

  .modal-close-button {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: white;
    font-family: 'Inter', sans-serif;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
  }

  .modal-close-button:hover {
    color: red;
  }
  
  .modal-body {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
  }

  .input-elementu {
    display: inline;
    margin-left: 97px;
  }

  .input-elemento {
    display: inline;
    position: fixed;
    margin-left: 70px;
  }

  .input-element1 {
    display: inline;
    float: right;
    margin-right: 97px;
  }

  .input-element {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
  }

  #blog-text-input {
    resize: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
  }

  .modal-footer {
    padding-left: 20px;
    padding-right: 98px;
    padding-bottom: 20px;
    float: right;
  }

  .modal-cancel-btn {
    margin-right: 15px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .modal-accept-btn {
    font-size: 20px;
    padding: 7px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: rgb(255, 97, 97);
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
  }




